{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="jumbotron">
    <h2>Previsão do tempo para hoje ({{ hoje|date:"d/m/Y" }}) </h2>
    <br />
    <table class="table table-bordered table-hover table-responsive" > 
        <thead>
            <tr class="info text-center">
                <th style="text-align:center"> Parâmetro </th>
                <th style="text-align:center"> Previsão </th>
                <th style="text-align:center"> Confiabilidade </th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td align="center"> <img src="{% static "core/img/precipitacao.png" %}" height="16px" /> Precipitação </td> 
                <td align="center"> {{ precipitacao }} mm </td>
                <td align="center"> 
                    <a href="#" data-toggle="popover" title="Detalhes" data-placement="right" data-trigger="focus" 
                    data-content="Precipitação prevista: {{ precipitacao }} mm Precipitação real: {{ precipitacao_real }} mm"> 
                        {{ conf_precipitacao }} %

                    </a> 
                </td>
            </tr>
            <tr class="success">
                <td align="center"> <img src="{% static "core/img/temperatura.png" %}" height="16px" /> Temperatura Mínima </td> 
                <td align="center"> {{ temperatura_min }} °C </td> 
                <td align="center"> 

                    <a href="#" data-toggle="popover" title="Detalhes" data-placement="right" data-trigger="focus" 
                    data-content="Temperatura min prevista: {{ temperatura_min }} mm Temperatura min real: {{ temperatura_min_real }} mm"> 

                    {{ conf_temp_min }} %

                    </a> 
                </td>
            </tr>
            <tr class="success">
                <td align="center"> <img src="{% static "core/img/temperatura.png" %}" height="16px" /> Temperatura Máxima </td> 
                <td align="center"> {{ temperatura_max }} °C </td>
                <td align="center"> 

                    <a href="#" data-toggle="popover" title="Detalhes" data-placement="right" data-trigger="focus" 
                    data-content="Temperatura max prevista: {{ temperatura_max }} mm Temperatura max real: {{ temperatura_max_real }} mm"> 

                    {{ conf_temp_max }} %

                    </a> 

                </td>
            </tr>
            <tr class="success">
                <td align="center"> <img src="{% static "core/img/umidade.png" %}" height="16px" /> Umidade </td> 
                <td align="center"> {{ umidade_media }} % </td>
                <td align="center"> 
                    <a href="#" data-toggle="popover" title="Detalhes" data-placement="right" data-trigger="focus" 
                    data-content="Umidade prevista: {{ umidade_media }} mm     Umidade real: {{ umidade_media_real }} mm">
                    {{ conf_umidade_media }} %

                    </a> 
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}
