{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
    <h2>Previsão do tempo para hoje ({{ hoje|date:"d/m/Y" }}) </h2>
    <br />
    <table class="table table-bordered table-hover table-responsive" > 
        <thead>
            <tr class="info text-center">
                <th style="text-align:center"> Parâmetro </th>
                <th style="text-align:center"> Previsão </th>
                <th style="text-align:center"> Confiabilidade </th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td align="center"> Precipitação </td> 
                <td align="center"> {{ precipitacao }} mm </td> 
                <td align="center"> {{ conf_precipitacao }} % </td>
            </tr>
            <tr class="success">
                <td align="center"> Temperatura Mínima </td> 
                <td align="center"> {{ temperatura_min }} °C </td> 
                <td align="center"> {{ conf_temp_min }} % </td>
            </tr>
            <tr class="success">
                <td align="center"> Temperatura Máxima </td> 
                <td align="center"> {{ temperatura_max }} °C </td>
                <td align="center"> {{ conf_temp_max }} % </td>
            </tr>
            <tr class="success">
                <td align="center"> Umidade </td> 
                <td align="center"> {{ umidade_media }} % </td>
                <td align="center"> {{ conf_umidade_media }} % </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
