{% extends "base.html" %}

{% block body %}

    <div class="jumbotron">
        <h2>Sobre este projeto</h2>
        <p class="lead">
            Este projeto foi desenvolvido como proposta de projeto final do curso DCA0121 - Inteligência Artifical Aplicada,
            do curso de Engenharia de Computação da Universidade Federal do Rio Grande do Norte.
        </p>
        <p class="lead">
            O objetivo dele é tentar prever o clima de uma cidade baseado em seu histórico passado, combinando
            Redes Neurais Artificais com Lógica Fuzzy.
        </p>
    </div>

{% endblock %}
